/* Empty. Add your own CSS if you like */

.scroll-content {


[add any more properties here]

}

.mainwindow {
  width: 100%;
  height: 800px;
}

.buttonWindow{
  width:40%;
}

.headline{
  width:80%;
  height:auto;
}

.logoline{
  width:30%;
  height:auto;
}

.logo1, .logo2, .logo3, .logo4{
  float:left;
  width:25%;
  height:auto;
  margin-bottom: 2%;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 12px;
}

.logo1:hover{
  width:24.5%;
  height:auto;
  margin:0 0 2.4% 0;
  box-shadow: 3px 3px 5px #888888;
}

.logo2:hover{
  width:24.5%;
  height:auto;
  margin:0 0 2.4% 0;
  box-shadow: 3px 3px 5px #888888;
}

.logo3:hover{
  width:24.5%;
  height:auto;
  margin:0 0 2.4% 0;
  box-shadow: 3px 3px 5px #888888;
}

.logo4:hover{
  width:24.5%;
  height:auto;
  margin:0 0 2.4% 0;
  box-shadow: 3px 3px 5px #888888;
}

#buttonWindow   {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-direction: column;
}
